.profileWrapper{

  .wallpaper{
    img{
      height: 150px;
      width: 100%;
    }
  }

  .profile{
    img{
      width: 100px;
      float: left;
      border-radius: 30%;
    }
  }

  .posts{
    clear: both;
  }
}

