

.dialogs{
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-gap: 50px;
  $padding-dialogs: 10px;

  .dialogsItems{
    padding: $padding-dialogs;

  }

  .messages{
    padding: $padding-dialogs;
  }
}

