.itemsSeqContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .pageButton{
    cursor: pointer;
    padding: 1px 3px;
    border: black 1px solid;
    &.selectedPage{
      font-weight: bold;
    }
  }
}
