.profile{


  .wallpaper{
    img{
      height: 150px;
      width: 100%;
    }
  }

  .profileInfo{
    display: flex;
    padding: 1%;
    img{
      width: 100px;
      border-radius: 30%;
    }
  }
}

