a{
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
}

img{
  display: block;
  box-sizing: border-box;
}

/* Стилізація смуги прокрутки */
::-webkit-scrollbar {
  width: 6px; /* Ширина смуги прокрутки */
}

::-webkit-scrollbar-track {
  background: transparent; /* Колір треку (фон) */
}

::-webkit-scrollbar-thumb {
  background-color: #807474; /* Колір повзунка (thumb) */
  border-radius: 4px; /* Заокруглення повзунка */
  border: 1px solid #8f8a8a; /* Простір навколо повзунка для виділення */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Зміна кольору повзунка при наведенні */
}
